<ul class="social">
  <li><a href="https://twitter.com/ux_unicorn" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	<li><a href="https://www.linkedin.com/in/alyson-sherrard-m-f-a-567877133/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
  <li><a href="https://dribbble.com/asherrard" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
  <li><a href="https://codepen.io/ux_unicorn" target="_blank"><i class="fa fa-codepen" aria-hidden="true"></i></a></li>
  <li><a href="mailto:alysonsherrard@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
</ul>
